// main:../index.styl
.about-section
  box-sizing border-box
  width 100%
  margin 0 10px

  > .title
    box-sizing border-box
    font-size 1.5em
    color #FFF
    padding 10px
    text-align center

  > .info
    box-sizing border-box
    width 100%
    padding 15px
    font-size 1.1em
    line-height 1.5
