// main:../index.styl
.about-container
  box-sizing
  width 100%
  max-width 800px
  margin 20px auto
  background-color #FFF
  border 1px solid #E0E0E0
  overflow hidden
  border-radius 5px

  @media (max-width $mobile-size)
    width 90%
