// main:../index.styl
.contact-box
  display flex
  flex-direction column
  width 60%
  height auto
  background-color #FFF
  border 1px solid #E0E0E0
  margin 50px auto
  border-radius 5px
  overflow hidden

  @media (max-width $mobile-size)
    width 90%
