// main:../index.styl
.intro-section
  text-align center
  color #FFF

  > .row
    display block

  > .name
    line-height 1.1
    font-size 5.5em

  > .desc
    font-size 1.35em
    font-weight 300

  > .links
    margin-top 15px
    flex-direction row
    justify-content center
    align-items center

    > .icon
      width 32px
      height 32px
      margin 0 10px
