// main:../index.styl
.price-item
  display inline-block
  width 45%
  margin 20px auto
  float left
  background-color #FFF
  overflow hidden
  border-radius 5px
  border 1px solid rgba(0, 0, 0, 0.15)
  font-size 1.15em

  > .title
    width 100%
    padding 10px 0
    font-size 1.4em
    color #FFF
    text-align center

  > .list
    > li
      margin 10px

  > .contact
    text-align right
    margin 20px
    margin-top 40px

    > .note
      font-size 0.7em
    > a
     padding 3px 6px
     background-color #2980b9
     border-radius 3px
     color #FFF
     text-decoration none

  > .info
    margin 20px
    line-height 1.5

  // Mobile
  @media (max-width $mobile-size)
    width 98%
