// main:../index.styl
.project-repos
  display flex
  align-items flex-start
  justify-content space-around
  flex-wrap wrap
  padding 20px

  > .repo-box
    box-sizing border-box
    width 30%
    float left
    margin 10px auto
    background-color #FFF
    border 1px solid #E0E0E0
    padding 10px
