// main:../index.styl
.site-nav
  display block
  width 250px
  height 100%
  background-color #0F0F0F

  > .logo
    width 100px
    height 100px
    margin 50px 75px

  > .link
    box-sizing border-box
    display block
    width 100%
    padding 20px 0
    text-decoration none
    color #FFF
    font-size 1.3em
    text-align center
    transition background 200ms

    &:hover
      background-color #c0392b

  // Mobile
  @media (max-width $mobile-size)
    width 100%
    margin-left -100%
