// main:../index.styl
.site-nav
  background-color #0F0F0F
  width 300px
  min-height 300px
  height 100%

  > .logo
    width 150px
    height 150px
    margin 50px 75px

  > .link
    box-sizing border-box
    display block
    width 100%
    padding 20px 0
    text-decoration none
    color #FFF
    font-size 1.3em
    text-align center

    &:hover
      background-color #c0392b
