// out: index.css

@import 'common'

.projects
  display flex
  flex-wrap wrap
  flex-direction row
  align-content flex-start
  justify-content flex-start
  align-items center


.repo
  display inline-block
  width 30%
  margin 0 auto
  box-sizing border-box
  vertical-align top
  padding 10px 15px
  border 1px solid #b4b4b4
  margin-bottom 20px
  border-radius 2px
  background-color #f6f6f6
  min-width 225px

  > *
    display block
    vertical-align top

  .name
    display inline-block
    font-size 1.3em
    a
      text-decoration none !important

  .desc
    display block

  .items
    margin-top 4px
    display inline-block

    > *
      float left
      vertical-align top
      margin-left 10px

    > .icon
      &:before
        vertical-align top
        margin-top 2px
        margin-right 1px
        content ''
        display inline-block
        width 17px
        height 17px
        opacity 0.5
        background-size 100% 100%
        transition opacity 75ms

      &:hover
        &:before
          opacity 1

      &:nth-child(1)
        margin-left 0 !important

      a
        text-decoration none
        color #000

    .stars
      &:before
        background-image url(../images/star.svg)


    .forks
      &:before
        background-image url(../images/fork.svg)

.getting
  &.failed
    color #d73737
