html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: #ededed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.wrap > div {
  box-sizing: border-box;
}
.wrap .side {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #1d1d1d;
}
.wrap .side .logo {
  width: 150px;
  height: 150px;
  margin: 20px 75px;
  border-radius: 5px;
}
.wrap .side hr {
  width: 75%;
  margin-bottom: 35px;
  background-color: #dbdbdb;
}
.wrap .side a {
  display: block;
  text-decoration: none;
  color: #e4e4e4;
  font-size: 1.4em;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #1d1d1d;
  transition: background 150ms;
}
.wrap .side a:hover {
  background-color: #cd3636;
}
.wrap .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  right: 0;
  overflow: auto;
  padding: 50px;
}
hr {
  width: 90%;
  height: 1px;
  border: 0;
  background-color: #3e3e3e;
  margin: 15 auto;
}
h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 50px;
}
@media (max-width: 550px) {
  .wrap .side {
    left: -250px !important;
  }
  .wrap .content {
    left: 50px !important;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
}
.repo {
  display: inline-block;
  width: 30%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 1px solid #b4b4b4;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #f6f6f6;
  min-width: 225px;
}
.repo > * {
  display: block;
  vertical-align: top;
}
.repo .name {
  display: inline-block;
  font-size: 1.3em;
}
.repo .name a {
  text-decoration: none !important;
}
.repo .desc {
  display: block;
}
.repo .items {
  margin-top: 4px;
  display: inline-block;
}
.repo .items > * {
  float: left;
  vertical-align: top;
  margin-left: 10px;
}
.repo .items > .icon:before {
  vertical-align: top;
  margin-top: 2px;
  margin-right: 1px;
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  opacity: 0.5;
  background-size: 100% 100%;
  transition: opacity 75ms;
}
.repo .items > .icon:hover:before {
  opacity: 1;
}
.repo .items > .icon:nth-child(1) {
  margin-left: 0 !important;
}
.repo .items > .icon a {
  text-decoration: none;
  color: #000;
}
.repo .items .stars:before {
  background-image: url("../images/star.svg");
}
.repo .items .forks:before {
  background-image: url("../images/fork.svg");
}
.getting.failed {
  color: #d73737;
}
@media (max-width: 550px) {
  .repo {
    width: 100% !important;
    min-width: 100% !important;
    flex-basis: 100% !important;
  }
}
