// out: index.css

@import 'common'

.repo
  box-sizing border-box
  display block
  width 100%
  margin 20px 0
  padding-bottom 2px
  padding-left 10px
  border-left 5px solid #b4b4b4

  > *
    display block
    vertical-align top

  .name
    display inline-block
    font-size 1.3em

  .desc
    display block

  .items
    margin-top 4px
    display inline-block

    > *
      float left
      vertical-align top
      margin-left 10px

    > .icon
      &:before
        vertical-align top
        margin-top 2px
        margin-right 1px
        content ''
        display inline-block
        width 17px
        height 17px
        opacity 0.5
        background-size 100% 100%
        transition opacity 75ms

      &:hover
        &:before
          opacity 1

      &:nth-child(1)
        margin-left 0 !important

      a
        text-decoration none
        color #000

    .stars
      &:before
        background-image url(../images/star.svg)


    .forks
      &:before
        background-image url(../images/fork.svg)

h1
  margin 0
  margin-bottom 20px
  font-weight 400
  font-size 40px

.getting
  &.failed
    color #d73737
