// out: pricing.css, compress: true
@import 'common'

.prices
  display flex
  flex-direction row
  flex-wrap wrap

  .price
    width 45%
    margin 10px auto
    box-sizing border-box
    margin-bottom 40px
    border-radius 2px

    > *
      display block
      width 100%

    .name
      font-size 25px
      padding 20px 0
      text-align center
      border-top-left-radius 5px
      border-top-right-radius 5px
      color #ededed

    .info
      box-sizing border-box
      padding 10px 15px
      background-color #f6f6f6
      overflow auto
      border 1px solid #dbdbdb
      border-top 0

      .final
        float right
        font-size 25px
        margin 10px 0
        font-weight 500

        a
          text-align center
          margin 10px
          padding 5px 10px
          background-color #4183D7
          color #f1f1f1
          border-radius 5px
          text-decoration none
          font-weight 400
          font-size 20px

        .per
          font-size 16px
          color #707070
