html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: #ededed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.wrap > div {
  box-sizing: border-box;
}
.wrap .side {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #1d1d1d;
}
.wrap .side .logo {
  width: 150px;
  height: 150px;
  margin: 20px 75px;
  border-radius: 5px;
}
.wrap .side hr {
  width: 75%;
  margin-bottom: 35px;
  background-color: #dbdbdb;
}
.wrap .side a {
  display: block;
  text-decoration: none;
  color: #e4e4e4;
  font-size: 1.4em;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #1d1d1d;
  transition: background 150ms;
}
.wrap .side a:hover {
  background-color: #cd3636;
}
.wrap .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  right: 0;
  overflow: auto;
  padding: 50px;
}
hr {
  width: 90%;
  height: 1px;
  border: 0;
  background-color: #3e3e3e;
  margin: 15 auto;
}
h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 50px;
}
@media (max-width: 550px) {
  .wrap .side {
    left: -250px !important;
  }
  .wrap .content {
    left: 50px !important;
  }
}
.prices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
}
.prices .price {
  width: 45%;
  margin: 10px auto;
  box-sizing: border-box;
  margin-bottom: 40px;
  border-radius: 2px;
  min-width: 300px;
}
.prices .price > * {
  display: block;
  width: 100%;
}
.prices .price .name {
  font-size: 25px;
  padding: 20px 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #ededed;
}
.prices .price .info {
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #f6f6f6;
  overflow: auto;
  border: 1px solid #dbdbdb;
  border-top: 0;
  font-size: 22px;
  overflow-x: hidden;
}
.prices .price .info ul {
  margin-top: 20px;
  margin-bottom: 40px;
}
.prices .price .info ul li {
  margin-bottom: 10px;
}
.prices .price .info p {
  margin: 0;
  padding: 20px;
}
.prices .price .info .final {
  float: right;
  font-size: 25px;
  margin: 10px 0;
  font-weight: 500;
}
.prices .price .info .final a {
  text-align: center;
  margin: 10px;
  padding: 5px 10px;
  background-color: #4183d7;
  color: #f1f1f1;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
.prices .price .info .final .per {
  font-size: 16px;
  color: #707070;
}
@media (max-device-width: 550px) {
  .prices .price {
    width: 100% !important;
    min-width: 100% !important;
  }
}
